<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.sony.svpa.rf4ceprototype">

    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.CHANGE_WIFI_MULTICAST_STATE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.BLUETOOTH" />
    <uses-permission android:name="android.permission.BLUETOOTH_ADMIN" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />


    <application
        android:name="com.sony.svpa.rf4ceprototype.QuicksetSampleApplication"
        android:icon="@drawable/icon"
        android:label="@string/app_name">
        <uses-library android:name="com.mediatek.twoworlds.tv"/>
        <activity
            android:name="com.sony.svpa.rf4ceprototype.QuicksetSampleActivity"
            android:label="@string/app_name"
            android:launchMode="singleTask"
            android:screenOrientation="landscape">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LEANBACK_LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.sony.svpa.rf4ceprototype.FirmwareUpdateActivity"
            android:label="Firmware Update" />
        <activity
            android:name="com.sony.svpa.rf4ceprototype.FilePickerActivity"
            android:label="Select File" />
        <activity
            android:name="com.sony.svpa.rf4ceprototype.FindRemoteActivity"
            android:label="Find Remote" />
        <activity
            android:name="com.sony.svpa.rf4ceprototype.VoiceSearchActivity"
            android:label="Voice Search" />
        <activity
            android:name="com.sony.svpa.rf4ceprototype.ReadRemoteActivity"
            android:label="Read Device Info" />
        <activity
            android:name="com.sony.svpa.rf4ceprototype.SetEdidDataActivity"
            android:label="Set EDID Data" />

        <receiver android:name="com.sony.svpa.rf4ceprototype.NewFWReceiver">
            <intent-filter>
                <action android:name="com.uei.quicksetsdk.sony.NEW_FIRMWARE_AVAILABLE" />
            </intent-filter>
        </receiver>
        <receiver android:name="com.sony.svpa.rf4ceprototype.SystemReceiver">
            <intent-filter>
                <action android:name="com.uei.sample.FirmwareUpdateActivity" />
                <action android:name="com.uei.sample.VoiceActivity" />
            </intent-filter>
        </receiver>

        <activity android:name="com.sony.svpa.rf4ceprototype.RFPairingProgressActivity"></activity>
    </application>

</manifest>